body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;

}

.task_input_box{
    margin-bottom: 10px;
}

form{
    width: 330px;
    font-size: 12px;
    
}

.input_form{
    display: flex;
    margin-bottom: 5px;
}

.task_text{
    margin-bottom: 5px;

}

button{
    font-size: 10px;
}

.send_btn{
    display: flex;
    justify-content: right;
}

.input_btn{
    margin-left: 10px;
}

.delete_btn{
    display: flex;
    justify-content: right;
    margin-right: 13px;
}