body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;

}

form{
    width: 400px;
}
.task_text{
    font-size: 15px;
}

.btn_item{
    display: flex;
    justify-content: center;
    
}

.btn_item div{
    margin: 10px;
}